{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/analyse.css') }}" rel="stylesheet" />
{% endblock %}

{% block appWindow %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% block analyse_metadata %}
                    <label>name</label>
                    <input type="text" id="analyseName" name="analyseName" />
            {% endblock %}
            {% block analyse_toolbar %}
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-save"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-bar-chart"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-refresh"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-recycle"></i></button>
            {% endblock %}
        </div>
        <div class="panel-body">
            {% block analyse_datatable %}
                <div>


                    {% verbatim %}
                        <div ng-controller="AnalyseController as analyse">

                          <!-- params section -->
                          <form ng-submit="paramList.addParam()">
                            <input type="text" ng-model="paramList.paramName"  size="30"
                                   placeholder="add param">
                            <input class="btn-primary" type="submit" value="add">
                          </form>
                          <ul class="list-inline">
                            <li></li>
                            <li ng-repeat="param in analyse.params">
                              <input type="text" class="paramName" value="{{param.name}}">
                            </li>
                          </ul>

                          <!-- dataseries section -->
                          <ul class="dataserieList">
                            <li ng-repeat="dataserie in analyse.dataseries">
                                <ul class="list-inline">
                                    <li><input type="text" class="serieName"></li>
                                    <li ng-repeat="value in dataserie.values">
                                        <input type="text" class="dataserieValue">
                                    </li>
                                </ul>
                            </li>
                          </ul>
                        </div>
                    {% endverbatim %}




                </div>
                <hr>
                <div>Section série de données</div>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'additionnal_javascript' %}
    <script src="{{ asset('js/analyseCreate.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        //var analyse = initAnalyse(3);
    </script>
    {% endjavascripts %}
{% endblock %}