{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/analyse.css') }}" rel="stylesheet" />
{% endblock %}

{% block appWindow %}
    <div ng-controller="AnalyseController as analyse" class="panel panel-default" id="panelAnalyseEdition" name="panelAnalyseEdition">
        <div class="panel-heading">
            {% block analyse_metadata %}
                    <label>name</label>
                    <input type="text" id="analyseName" name="analyseName" />
            {% endblock %}
            {% block analyse_toolbar %}
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-save"></i></button>
                <button type="button" class="btn btn-default" ng-click="analyse.Chart()"><i class="fa fa-3x fa-bar-chart"></i></button>
                <button type="button" class="btn btn-default"><i class="fa fa-3x fa-refresh"></i></button>
                <button type="submit" class="btn btn-default" ng-click="analyse.Reset()"><i class="fa fa-3x fa-recycle"></i></button>
            {% endblock %}
        </div>
        <div class="panel-body">
            {% block analyse_datatable %}
                <div>
                {% verbatim %}
                    <div>

                        <!-- toolbar section -->
                        <div id="analyseToolbar" name="analyseToolbar">
                            <form ng-submit="analyse.addParam()" class="inline">
                                <input type="text" ng-model="analyse.paramName"  size="30" placeholder="add param">
                                <input class="btn-primary" type="submit" value="add">
                            </form>
                            <form ng-submit="analyse.addDataserie()" class="inline">
                                <input type="text" ng-model="analyse.dataserieName"  size="30" placeholder="add dataserie">
                                <input class="btn-primary" type="submit" value="add">
                            </form>
                        </div>

                        <!-- params section -->
                        <ul class="list-inline">
                            <li class="col1">
                                <div class="paramToolbar text-center">
                                    <i class="fa fa-2x fa-caret-square-o-down" ng-click="ShowHide()"></i>
                                </div>
                                <ul class="paramInfo" id="paramInfoLabels" name="paramInfoLabels">
                                    <li><label>Name</label></li>
                                    <section class="extendedParamInfo" ng-show = "IsVisible">
                                        <li><label>Min Value</label></li>
                                        <li><label>Max Value</label></li>
                                        <li><label>Ponderation</label></li>
                                        <li><label>Unit</label></li>
                                        <li><label>Type</label></li>
                                    </section>
                                </ul>
                            </li>
                            <li ng-repeat="param in analyse.params">
                                <div class="paramToolbar text-center">
                                    <i class="fa fa-2x fa-remove" ng-click="removeParam(param)"></i>
                                </div>
                                <ul class="paramInfo">
                                    <!--<li><input type="text" class="paramName text-center" value="{{param.name}}"></li>-->
                                    <li><input type="text" class="paramName" name="paramName" ng-model="param.name" ng-model-options="{ getterSetter: true }" /></li>
                                    <section class="extendedParamInfo" ng-show = "IsVisible">
                                        <li><input type="text" class="paramMinValue text-center" ng-model="param.minVal" ng-model-options="{ getterSetter: true }" ></li>
                                        <li><input type="text" class="paramMaxValue text-center" ng-model="param.maxVal" ng-model-options="{ getterSetter: true }" ></li>
                                        <li><input type="text" class="paramPonderation text-center" ng-model="param.ponderation" ng-model-options="{ getterSetter: true }" ></li>
                                        <li><input type="text" class="paramUnit text-center" ng-model="param.unit" ng-model-options="{ getterSetter: true }" ></li>
                                        <li><input type="text" class="paramType text-center" ng-model="param.type" ng-model-options="{ getterSetter: true }" ></li>
                                    </section>
                                </ul>
                            </li>
                        </ul>

                        <!-- dataseries section -->
                        <ul class="dataserieList">
                            <li ng-repeat="dataserie in analyse.dataseries">
                                <ul class="list-inline">
                                    <li class="col1"><i class="fa fa-2x fa-remove" ng-click="removeDataserie(dataserie)"></i><input type="text" class="dataserieName text-center" value="{{dataserie.name}}"></li>
                                    <li ng-repeat="value in dataserie.values">
                                        <!--<input type="text" class="dataserieValue text-center" value="{{value.value}}">-->
                                        <input type="text" name="dataserieValue" ng-model="value.value" ng-model-options="{ getterSetter: true }" />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endverbatim %}
                </div>
            {% endblock %}

            <div id="chart">

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'additionnal_javascript' %}
    <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/analyseCreate.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endjavascripts %}
{% endblock %}