{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.css') }}" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html"/>
    <link href="{{ asset('css/analyse.css') }}" rel="stylesheet" />
{% endblock %}



{% block appWindow %}
    {% block analyse_params %}
        <div class="col-lg-12 panel">
            <div class="panel-heading">
                <h1 class="panel-title">Edit your analyse</h1>
            </div>
            <div class="col-lg-2">
                {% block analyse_resume %}
                    <div class="thumbnail analyse_thumbnail">
                        <div class="caption text-center">
                            <input type="hidden" class="analyse_id" value="{{ analyse.getId }}">
                            <h4>{{ analyse.getName }}</h4>
                            <p>description</p>
                        </div>
                    </div>
                {% endblock %}
                {% block param_creation %}
                    <div>
                        {{ form_start(param_creation_form) }}
                        {{ form_widget(param_creation_form) }}
                        {{ form_end(param_creation_form) }}
                    </div>

                {% endblock %}
            </div>

            <div class="col-lg-10">

                <div class="row analyse_toolbar">
                    {% block analyse_toolbar %}
                        <nav class="navbar-default navbar-top">
                            <a href="#"><button type="button" class="btn btn-default" id="chart_button"><i class="fa fa-bar-chart"></i></button></a>
                            <a href="#"><button type="button" class="btn btn-default"><i class="fa fa-share"></i></button></a>
                        </nav>
                    {% endblock %}
                </div>

                <div class="row">
                    {% block datatable %}
                        <div class="col-lg-1">
                            <button type="button" id="addRow" name="addRow"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="col-lg-8">
                            <table id="param_datatable">
                                <thead>
                                    <tr>
                                        {% for form in param_creation_form_list %}
                                            {% if loop.first %}
                                                <td></td>
                                                <td></td>
                                            {%  endif %}
                                            <td>
                                                <div>
                                                    {{ form_start(form) }}
                                                    <input type="hidden" id="paramId" name="paramId" class="paramAttribute" index="paramId" value="{{ form.vars.value.id }}"/>
                                                    <label class="paramAttrLabel">name</label>
                                                    {{ form_widget(form.name, { 'id': 'name_param_' ~ form.vars.value.id, 'name': 'name_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramName' }} )}}
                                                    <section id="section_moreParam_{{ form.vars.value.id }}" name="section_moreParam_{{ form.vars.value.id }}" style="display: none;">
                                                        <label class="paramAttrLabel">min</label>
                                                        {{ form_widget(form.min, { 'id': 'minValue_param_' ~ form.vars.value.id, 'name': 'minValue_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramMinValue', 'data-validate':'number' }} )}}
                                                        <label class="paramAttrLabel">max</label>
                                                        {{ form_widget(form.max, { 'id': 'maxValue_param_' ~ form.vars.value.id, 'name': 'maxValue_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramMaxValue', 'data-validate':'number' }} )}}
                                                        <label class="paramAttrLabel">unit</label>
                                                        {{ form_widget(form.unit, { 'id': 'unit_param_' ~ form.vars.value.id, 'name': 'unit_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramUnit' }} )}}
                                                        <label class="paramAttrLabel">pond</label>
                                                        {{ form_widget(form.ponderation, { 'id': 'ponderation_param_' ~ form.vars.value.id, 'name': 'ponderation_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramPonderation', 'data-validate':'number' }} )}}
                                                        <label class="paramAttrLabel">type</label>
                                                        {{ form_widget(form.type, { 'id': 'type_param_' ~ form.vars.value.id, 'name': 'type_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramType' }} )}}
                                                    </section>
                                                    <button type="button" class="moreParam" id="moreParam_{{ form.vars.value.id }}" name="moreParam_{{ form.vars.value.id }}"><i class="fa fa-plus-circle"></i></button><br>
                                                    <span style="display: none;">
                                                        <label class="paramAttrLabel">analyse</label>
                                                        {{ form_widget(form.analyse1, { 'id': 'analyse_param_' ~ form.vars.value.id, 'name': 'analyse_param_' ~ form.vars.value.id,  'attr': { 'class' : 'paramAttribute', 'index' : 'paramAnalyse' }} )}}
                                                    </span>
                                                    <a href="{{ path('param_delete', {'paramId': form.vars.value.id}) }}"><button type="button"><i class="fa fa-trash"></i></button></a>
                                                    <button type="submit" id="submit_param_{{ form.vars.value.id }}" name="submit_param_{{ form.vars.value.id }}"><i class="fa fa-save"></i></button>
                                                    {{ form_end(form) }}
                                                </div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        {% for param in params_list %}
                                            {% if loop.first %}
                                                <td><button type="button" class="deleteRow"><i class="fa fa-trash"></i></button></td>
                                                <td><input type="text" class="dataTableSerieName" index="serie_name" value="name_serie" data-validate="required"></td>
                                            {%  endif %}
                                            <td><form><input type="text" class="dataTableParamValue" index="param_{{ param.getId }}" paramName="{{ param.getName }}" data-validate="number,minVal({{ param.getMin }}),maxVal({{ param.getMax }})" value="10"/></form></td>
                                        {% endfor %}
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    {% endblock %}

                    {% block analyse_chart %}
                        <canvas id="myChart" width="400" height="400"></canvas>
                    {% endblock %}
                </div>



                {% form_theme analyse_form 'form/fields.html.twig' %}

                <div id="headTest">
                    {{ form_start(analyse_form) }}
                    {#{{ form_widget(analyse_form) }}#}`

                    {{ form_label(analyse_form.name) }}
                    {{ form_widget(analyse_form.name) }}
                    {{ form_errors(analyse_form.name) }}
                    {{ form_label(analyse_form.created) }}
                    {{ form_widget(analyse_form.created) }}
                    {{ form_errors(analyse_form.created) }}

                    {% for param in analyse_form.params1 %}
                        {{ form_label(param.name) }}
                        {{ form_widget(param.name) }}
                        {{ form_errors(param.name) }}
                    {% endfor %}


                    {{ form_end(analyse_form) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts 'additionnal_javascript' %}
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/Chart.js/Chart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/verify/verify.notify.min.js') }}" type="text/javascript"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript" ></script>
    <script src="{{ asset('js/analyse.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endjavascripts %}
{% endblock %}

