{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/datatables/media/css/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/analyse.css') }}" rel="stylesheet" />
{% endblock %}

{% block appWindow %}
    {% block analyse_params %}
        <div class="col-lg-12 panel">
            <div class="panel-heading">
                <h1 class="panel-title">Parameters</h1>
            </div>
            <div class="col-lg-3">
                {% block param_creation %}
                    {{ form_start(param_creation_form) }}
                    {{ form_errors(param_creation_form) }}
                    {{ form_widget(param_creation_form) }}
                    {{ form_end(param_creation_form) }}
                {% endblock %}
            </div>

            <div class="col-lg-9">
                {#{% block params_list %}
                    &#123;&#35;{{ render(controller('AppBundle:Param:list')) }}&#35;&#125;
                    {% for param in params_list %}
                        <div class="col-lg-3">
                            <div class="thumbnail analyse_thumbnail">
                                <div class="caption text-center">
                                    <h4>{{ param.getName }} in ({{ param.getUnit }})</h4>
                                </div>
                            </div>
                        </div>
                    {%  endfor %}
                {% endblock %}#}
                <div class="row">
                    {% block datatable %}
                        <div class="col-lg-1">
                            <button type="button" id="addRowDataTable"><i class="fa fa-plus"></i></button>
                        </div>c
                        <div class="col-lg-8">
                            <table id="param_datatable">
                                <thead>
                                    <tr>
                                        <td>serie name</td>
                                        {% for param in params_list %}
                                            <td>
                                                <div><a href="/param/delete/{{ param.getId }}"><button type="button"><i class="fa fa-trash"></i></button></a></div>
                                                <div><h4>{{ param.getName }}</h4></div>
                                                <div><label>min : </label>{{ param.getMinvalue }}</div>
                                                <div><label>max : </label>{{ param.getMaxvalue }}</div>
                                                <div>in ({{ param.getUnit }})</div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" value="name"></td>
                                        {% for param in params_list %}
                                            <td><input type="text" class="dataTableValue" value="paramId_{{ param.getId }}"/></td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'additionnal_javascript' %}
    <script src="{{ asset('assets/vendor/datatables/media/js/jquery.dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/vendor/datatables/media/js/dataTables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/analyse.js') }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}