<div class="col-lg-3">
    {{ form_start(param_creation_form) }}
    {{ form_widget(param_creation_form) }}
    {{ form_end(param_creation_form) }}
</div>

<div class="col-lg-3">
    {{ form_start(test_form) }}
    {{ form_widget(test_form) }}
    {{ form_end(test_form) }}
</div>
